{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": { "node": true },
  "plugins": ["@typescript-eslint", "tailwindcss"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:tailwindcss/recommended",
  ],
  "parserOptions": {
    "sourceType": "module",
  },
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "args": "none" }],
    "@typescript-eslint/ban-ts-comment": "off",
    "no-prototype-builtins": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "react/prop-types": "off",
    "react-hooks/exhaustive-deps": "error",
    "tailwindcss/classnames-order": "error",
    "tailwindcss/enforces-negative-arbitrary-values": "error",
    "tailwindcss/enforces-shorthand": "error",
    "tailwindcss/migration-from-tailwind-2": "error",
    "tailwindcss/no-arbitrary-value": "off",
    "tailwindcss/no-custom-classname": "error",
    "tailwindcss/no-contradicting-classname": "error",
  },
  "overrides": [
    {
      "files": ["*.json", "*.jsonc", ".eslintrc"],
      "parser": "jsonc-eslint-parser",
      "rules": {
        "jsonc/auto": "error",
      },
    },
  ],
  "settings": {
    "react": {
      "version": "detect",
    },
    "tailwindcss": {
      "callees": ["classnames", "clsx", "ctl", "cn", "cva"],
      "config": "./tailwind.config.js",
      "cssFiles": ["**/*.css", "!**/node_modules", "!**/.*", "!**/dist", "!**/build"],
    },
  },
}
