/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.chat-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;  /* Fix overflow and can't scroll up */
}

.bottom-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  flex: 0 0 auto;
  box-sizing: border-box;
}

.chat-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8px 8px 0;
}

.chat-icons-container .icon {
  cursor: pointer;
  margin-right: 8px;
}

.chat-icons-container .icon:last-child {
  margin-right: 0;
}

.regenerate-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid #3a3a3a;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 8px;
  font-size: 12px;
  margin-right: 5px;
}

.model-dropdown {
  margin-right: 5px;
}

.regenerate-button .icon {
  margin-right: 8px;
}

.icon-only-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 4px 8px;
  margin-right: 5px;
}

.icon-only-button .icon {
  margin-right: 8px;
}

.icon-only-button:last-child .icon {
  margin-right: 0;
}

.chat-input-container {
  display: flex;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.chat-input-container textarea {
  flex-grow: 1;
  margin-right: 8px;
  margin-bottom: 32px;
  max-height: 200px;
  resize: vertical;
  overflow: auto;
  width: 100%;
  min-height: 50px; /* Add this line */
}

.chat-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  overflow-y: auto;
  padding: 8px;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 14px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.chat-message.user {
  background-color: rgba(58, 58, 58, 0.8);
  color: #ffffff;
  border-radius: 5px;
  padding: 4px;
  width: 100%;
}

.chat-message.chatgpt {
  border-radius: 5px;
  padding: 4px;
  width: 100%;
}

.chat-message {
  position: relative;
  user-select: text;
}

.chat-message-content {
  display: inline;
  line-height: 1.3;
}

.clipboard-button {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 4px;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.clipboard-button .icon {
  transform: scale(0.7);
}

.chat-message:hover .clipboard-button {
  opacity: 1;
}