/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.chat-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;  /* Fix overflow and can't scroll up */
}

.bottom-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  flex: 0 0 auto;
  box-sizing: border-box;
}

.chat-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8px 8px 0;
  order: 1;
  gap: 8px;
}

.icon-scaler {
  transform: scale(1.6);
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-bottom: 4px;
  transform: translateX(-50%);
  transition: opacity 0.3s;
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper:hover .tooltip-text,
.chat-icon-button:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.chat-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.chat-icon-selection {
  color: var(--inline-title-color);
}

.chat-input-container {
  display: flex;
  padding: 8px;
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  order: 2;
}

.chat-input-container textarea {
  width: 100%;
  margin-right: 8px;
  margin-bottom: 8px;
  resize: none;
  overflow: auto;
  min-height: 60px;
  max-height: 200px;
  box-sizing: border-box;
}

.chat-input-container textarea::placeholder {
  color: var(--inline-title-color);
  opacity: 0.5;
}

.chat-input-container button {
  padding: 8px;
  margin: 8px;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  overflow-y: auto;
  padding: 8px;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 14px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin-top: auto;
  user-select: text;
}

.message-container {
  display: flex;
  width: 100%;
  margin: 0;
}

.message {
  display: flex;
  padding: 8px;
  margin-bottom: 4px;
  border-radius: 4px;
  position: relative;
}

.message-icon {
  width: 24px;
  margin-right: 8px;
  color: var(--inline-title-color);
  grid-area: icon;
}

.message-content {
  white-space: pre-wrap;
  line-height: 1.5;
  grid-area: content;
  max-width: 95%;
  word-break: break-word;
}

.message-content pre, .message-content p {
  margin: 0;
  padding: 0;
}

.message-content ol, .message-content ul {
  list-style: none;
  padding-left: 20px;
  margin: 0;
}

.message-content li {
  margin: 0;
  width: 100%;
  padding-left: 10px;
  display: inline;
  position: relative;
}

.message-content li::before {
  content: counter(list-item, decimal) ".";
  counter-increment: list-item;
  position: absolute;
  left: -20px;
}

.message-content li:has(> p) {
    display: flex;
    flex-direction: column;
}

.message-content li:has(> p)::before {
    align-self: flex-start;
    margin-top: 0; /* Adjust this value to align the pseudo-element vertically */
}

.copy-message-button {
  width: 24px;
  height: 24px;
  padding: 4px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.user-message {
  width: 95%;
  color: var(--inline-title-color);
}

.bot-message {
  width: 95%;
}
